body {
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-weight: 400;
  color: white;
  -webkit-text-fill-color: black; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5d7;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5d7;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

#navbar div {
  padding: 0 20px;
}

.nav-link {
  padding: 0 7px;
  text-decoration: none;
}

#footer {
  border-top: 1px solid #5d7;
  margin-top: 50px;
  width: 100%;
  height: 80px;
  color: #fff;
  text-align: center;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.browse-container form {
  text-align: center;
  margin-bottom: 15px;
}

.browse-container input {
  padding: 5px;
  background-color: inherit;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
}

.browse-container button {
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #5d7;
  font-weight: bold;
}

.poster {
  margin: 0;
  position: relative;
}

.poster img {
  border: 4px solid #fff;
  border-radius: 5px;
}

#movies a {
  text-decoration: none;
}

.movie {
  margin-top: 15px;
}

.movie p {
  margin-top: 0;
  margin-bottom: 4px;
}

.movie span {
  color: #777;
}

.header-text {
  text-align: center;
}

.details {
  display: grid;
  grid-template-columns: 340px 500px;
  column-gap: 10px;
}

.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 4px solid #5d7;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  top: 0;
  opacity: 0;
}

.highlights p {
  font-size: larger;
}

.highlights button {
  width: 60%;
  height: 30px;
  background-color: #5d7;
  border-color: #5d7;
  border-radius: 5%;
  font-size: medium;
}

.highlights:hover {
  opacity: 0.8;
  background-color: #333;
}

.movie-about {
  padding-left: 50px;
}

.movie-about h1, h2, h3 {
  margin: 0;
}

.movie-about p{
  margin: 0;
  margin-top: 5px;
}

.paginator {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  padding-top: 15px;
}

.selected-page {
  background-color: #5d7;
}

.pages {
  padding: 5px 7px;
  margin: 0px 4px;
  border: 1px solid #5d7;
  list-style-type: none;
  border-radius: 3px;
}

@media only screen 
  and (max-device-width: 480px) {
    .paginator {
      flex-wrap: wrap;
    }

    .pages {
      margin: 4px 4px;
    }

    .browse-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .movies-container {
      grid-template-columns: 1fr;
    }

    .details {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0px 1rem;
      row-gap: 10px;
    }
}

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 767px) {
    .movies-container {
      grid-template-columns: 1fr 1fr;
    }

    .details {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0px 1rem;
      row-gap: 10px;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    .movies-container {
      grid-template-columns: repeat(3, 1fr);
    }

    .details {
      padding: 0px 10%;
      grid-template-columns: 340px 1fr;
    }
}
